#landing{
    #nav-mobile{
        a{
            color: black;
            &:hover{
                background-color: initial;
            }
        }
    }
    
    font-size: 18px;
    color: #898989;
    
}